<% content_for :title, "Editar Producto" %>

<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="text-center mb-4">Editar Producto</h2>

    <%= render "form", product: @product %>

    <div class="d-flex justify-content-between mt-4">
      <%= link_to "Ver Producto", @product, class: "btn btn-primary" %>
      <%= link_to "Volver a Productos", products_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
